.grid-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    vertical-scrolling: hidden;
}


.button-image {
    width: 100%;
    height: 50%;
}